<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div align="center">
    <h2>Login Page</h2>
    <form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto;">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" required/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" required/></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><button type="submit">Login</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
